body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: lavender;
}


.ToyCard {
  padding-bottom: 25px;
}

.btn {
  background-color: #696969;
  color: white;
  border: none;
}

.home-image {
  max-width: 60%;
}